absl-py==1.4.0
accelerate==0.19.0
aiohttp==3.8.4
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.3.1
alembic==1.10.4
altair==4.2.2
ansicon==1.89.0
anyio==3.6.2
appdirs==1.4.4
asgiref==3.6.0
astroid==2.15.4
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
Authlib==1.2.0
azure-ai-formrecognizer==3.3.0b1
azure-common==1.1.28
azure-core==1.26.4
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bert-extractive-summarizer==0.10.1
black==23.3.0
bleach==6.0.0
blessed==1.20.0
blinker==1.6.2
blis==0.7.9
boilerpy3==1.0.6
boto3==1.26.133
botocore==1.29.133
bpemb==0.3.4
cachetools==5.3.0
canals==0.0.3
catalogue==2.0.8
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.0.4
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
colorful==0.5.5
confection==0.0.4
conllu==4.5.2
construct==2.5.3
contourpy==1.0.7
coverage==7.2.5
cryptography==40.0.2
cycler==0.11.0
cymem==2.0.7
databind==1.5.3
databind.core==1.5.3
databind.json==1.5.3
databricks-cli==0.17.6
datasets==2.12.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.6
Django==4.2.1
dnspython==2.3.0
docker==6.0.1
docopt==0.6.2
docspec==2.1.2
docspec-python==2.1.2
docstring-parser==0.11
elasticsearch==7.17.9
entrypoints==0.4
Events==0.4
exceptiongroup==1.1.1
executing==1.2.0

farm-haystack @ git+https://github.com/deepset-ai/haystack.git@5b2ef2afd6fc8bd14b5e8f760faa40526d139bee

python-magic-bin==0.4.14
python-multipart==0.0.6
python-ptrace==0.9.8
python-speech-features==0.6
pytorch_revgrad==0.2.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywin32==306
PyYAML==5.4.1
pyyaml_env_tag==0.1
pyzmq==25.0.2
quantulum3==0.8.1
querystring-parser==1.2.4
rank-bm25==0.2.2
rapidfuzz==2.7.0
ray==1.13.0
rdflib==6.3.1
regex==2023.5.5
requests==2.28.2
requests-cache==0.9.8
requests-oauthlib==1.3.1
responses==0.18.0
rich==13.3.5
rouge==1.0.1
rsa==4.9
s3transfer==0.6.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
segtok==1.5.11
selenium==4.9.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
seqeval==1.2.2
six==1.16.0
sklearn==0.0.post4
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==2.0.0
SQLAlchemy==1.4.48
SQLAlchemy-Utils==0.41.1
sqlitedict==2.1.0
sqlparse==0.4.4
srsly==2.4.6
sseclient-py==1.7.2
stack-data==0.6.2
starlette==0.26.1
streamlit==1.22.0
summarizer==0.0.7
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
text-highlighter==0.0.11
textblob==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tika==2.6.0
tiktoken==0.3.1
tinycss2==1.2.1
tokenize-rt==5.0.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.8
toolz==0.12.0
toposort==1.10
torch==2.0.0
torchvision==0.15.1
tornado==6.3.1
tox==4.5.1
tqdm==4.65.0
traitlets==5.9.0
transformer-smaller-training-vocab==0.2.3
transformers==4.29.1
trio==0.22.0
trio-websocket==0.10.2
typer==0.7.0
types-PyYAML==6.0.12.9
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ujson==5.1.0
url-normalize==1.4.3
urllib3==1.26.15
uvicorn==0.16.0
validators==0.20.0
virtualenv==20.23.0
waitress==2.1.2
wasabi==1.1.1
watchdog==3.0.0
wcwidth==0.2.6
weaviate-client==3.17.0
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.3
Wikipedia-API==0.5.8
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
xmltodict==0.13.0
xxhash==3.2.0
yapf==0.33.0
yarl==1.9.2
zipp==3.15.0
